@import "../../utils/common.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: $white;
  box-shadow: $box-shadow;
  padding-bottom: 2rem;
  margin: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  transition: all ease-in-out 300ms;
  background-image: url("../../images/user_prev.png");
  background-size: 7rem;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  &:hover {
    background-color: rgb(253, 255, 255);
    transform: scale(1.05);
  }
  .card-upper-decoration {
    padding: 2em 0;
    background-image: radial-gradient(
      ellipse at bottom,
      $white,
      $primary-color-1
    );
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    align-items: center;
    .avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      box-shadow: $box-shadow;
    }
    .title {
      font-weight: bold;
      font-size: 20px;
      margin: 1rem 0rem;
      color: $blue;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      outline: none;
      border: none;
      cursor: pointer;
      background-color: $primary-color-2;
      box-shadow: $box-shadow;
      color: $white;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }
}
