@import "../../../utils/common.scss";

.select {
  height: 52px;
  padding: 1rem;
  padding-right: 2rem;
  background-color: $white;
  appearance: none;
  box-shadow: none;
  border: 1px solid $gray-3;
  border-radius: 2px;
  font-size: 16px;
  color: $gray-5;
  outline-color: $primary-color-1;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 30 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  option {
    color: black;
  }
}
